@model periodo_academico.Models.Prova

@{
    ViewBag.Title = "Index";
}

<h2>Clique no botão abaixo:</h2>

<button onclick="retornarProvas()" type="button" class="btn btn-primary">
    Gerar Provas
</button>

<table>
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Ordem</th>
            <th>Primeira Nota</th>
            <th>Segunda Nota</th>
            <th>Terceira</th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
    
<script>
    
</script>